* {
    margin: 0;
    padding: 0;
}
html {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}
@media screen and (min-width:900px) {
    html {
        background: url(https://fs.lolimapis.ml/ACGPic/);
    }
}
@media screen and (max-width:900px) {
    html {
        background: url(https://fs.lolimapis.ml/CatFoxGirl/);
    }
}
span, strong {
    font-weight: 200;
    font-size: small;
}

header {
    width: 100vw;
    display: flex;
    top: 0px;
    position: fixed;
}
header h1, header h2, header h3, header h4, header h5, header h6 {
    font-weight: 400;
    display: inline;
}
header .coner {
    width: 100%;
    height: 50px;
    padding: 10px;
    background: #ffffff88;
}
header .coner span {
    font-size: 35px;
}
header .hdti {
    color: rgb(31, 31, 31);
}
header a {
    color: #e783ce;
}

.card {
    box-shadow: 2px 1px 5px black;
    margin-top: 50px;
    background-color: #ffffff56;
}
.e1 {
    margin-top: 90px;
}
main img {
    width: 100%;
}
@media screen and (min-width:900px) {
    .card {
        margin-left: 200px;
        margin-right: 200px;
    }
}
@media screen and (max-width:900px) {
    .card {
        margin-left: 30px;
        margin-right: 30px;
    }
}
.card .coner {
    width: 100%;
    background-color: #0e9af8;
    padding-top: 10px;
    padding-bottom: 10px;
}
.card hsd {
    margin: 10px;
    font-size: 25px;
    color: white;
}
.e2 .apilist {
    border-radius: 5px;
}

.left {
    float: right;
    font-size: 20px;
    margin: 10px;
}
a {
    color: #ffffff;
    text-decoration: none;
}
a:hover {
    color: #ee54c8;
}
ion-icon {
    transform: translate(0, 2px);
}
.btns {
    margin: 10px;
}

#lbg {
    font-family: 'Poppins' sans-serif;
}
#lbg ul {
    transform: translate(20px);
}
@media screen and (min-width:900px) {
    #cms > a.item::before {
        content: attr(data-sha);
        margin-right: 40vw;
    }
}
@media screen and (max-width:900px) {
    #cms > a.item::before {
        content: attr(data-sha);
        margin-right: 20vw;
    }
}
#cms > a.item {
	width: 100%-5px;
	display: flex;
	flex-direction: row;
	align-items: center;
	cursor: pointer;
	color: #000;
    padding: 5px;
}
#cms a.item:hover {
    background-color: #00000041;
}
.descs {
    margin: 5px;
}